.index-nav{position:fixed;width: 100%;border-bottom: 1px solid #eeeeee;height: 50px;box-sizing: border-box;background:white;}
.index-content{width: 1000px;padding-left: 5%;padding-right: 5%;padding-top: 100px;margin: 0 auto;border-bottom: 1px solid #eeeeee;height: 1000px;box-sizing: border-box;background:white;}
.index-content-operation-add{background: #1E90FF;color:white;height:30px;width: 80px;box-shadow:none;border: none;}
.index-content-operation-search{float: right;}
.index-content-operation-search input {float:left;border:1.5px solid #1E90FF;background:white;color:#1E90FF;height:30px;width: 200px}
.index-content-operation-search button {float:left;background: #1E90FF;color:white;height:30px;width: 60px;border:none;}

.index-content-table{border:1.5px solid #ebebeb;width: 100%;}
.index-content-table tr th{padding-left: 6px;}
.index-content-table tr td{padding-left: 6px;}
.index-content-table-th{ border:1.5px solid #ebebeb;height: 40px;color:#1E90FF;background: #F0F0F0;padding:0px 17px;}
.index-content-table-td{ border:1.5px solid #ebebeb;height: 40px;padding:0px 17px;}
.index-content-table-td-edit{color:#1E90FF;}
.index-content-table-td-delete{color:red;}

.index-content-table-add{border:0px solid #ebebeb;width: 100%;}
.index-content-table-add tr{padding-top: 6px;height: 40px;}
.index-content-table-add tr td{padding-left: 60px;padding-top:6px;}
.index-content-table-td-add{ border:1px solid #ebebeb;height: 35px;width: 50%;padding:0px 17px;}



.index-nav-frame{width: 1200px;margin: 0 auto;}
.index-nav-frame-line{color: #333333;background: white;float: left;position: relative;display: block;outline: none;cursor: pointer;width: 100px;line-height: 50px;text-align: center;font-weight: 700;}
.index-nav-frame-line-logout{color: #333333;background: white;float: right;position: relative;display: block;outline: none;cursor: pointer;width: 100px;line-height: 50px;text-align: center;font-weight: 700;}
.index-nav-frame-line.active{color:#1E90FF;}

.index-nav-frame-line-center{opacity: 0;height: 0;position: absolute;overflow: hidden;width: 100%;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;/* Firefox 4 */-o-transition: all 0.5s; /* Opera */}
.index-nav-frame-line-li{width: 100%;font-weight: 500;text-align: center;background: white;color: #666666;}
.index-nav-frame-line-li:hover{background: #1E90FF;color: white;}
.index-nav-frame-line-li a{background: #1E90FF;color: white;}
.index-nav-frame-line-focus:focus{display: none;}
.index-nav-frame-line:hover .index-nav-frame-line-center{height:auto;opacity: 1;}

.nav-line{height: 50px;width: 100%;position: relative;display: none;outline: none;}
.nav-small{width: 30px;height: 30px;position: absolute;right: 10px;top:10px;cursor: pointer;display: none;outline: none;}
.nav-small img{width: 100%;height: 100%;object-fit: cover;}
.nav-small-focus{position: absolute;width: 100%;height: 100%;display: none;}
.nav-small-focus:focus{display: none;}
@media only screen and (max-width:800px) {
	.index-nav-frame-line-li a{display: block;color: white;}
	.nav-line{display: block;border-bottom: 1px solid #eeeeee;}
	.nav-small{display: block;}
	.nav-small:focus~.index-nav-frame-line{height: auto;border-bottom: 1px solid #ccc;}
	.nav-small:focus .nav-small-focus{display: block;}
	.index-nav-frame{width: 100%;}
	.index-nav-frame-line{width: 100%;height: 0;overflow: hidden;}
	.index-nav-frame-line-center{position: relative;background: #444359;}
	.index-nav-frame-line:hover .index-nav-frame-line-center{height:0;opacity: 0;}
	.index-nav-frame-line-li{border-bottom: 1px solid #4b4a5e;color: #d9d9d9;background: #444359;}
	.index-nav-frame-line-li:hover{background: #b63b4d;}
	.index-nav-frame-line:focus{height: auto;border-bottom: 1px solid #ccc;}
	.index-nav-frame-line:focus>.index-nav-frame-line-center{height:auto;opacity: 1;}
	.index-nav-frame-line:focus .index-nav-frame-line-header{color: #B63B4D;}
	.index-nav-frame-line-focus{display: none;width: 100%;height: 50px;position: absolute;left: 0;top: 0;}
	.index-nav-frame-line:focus .index-nav-frame-line-focus{display: block;}

}