<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>jsj_system</display-name>
  
    <!-- 设置访问系统时的欢迎页 -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <!--注册解决中文编码问题的过滤器 -->
	<filter>
	    <filter-name>EncodingFilter</filter-name>
	    <filter-class>com.jsj.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>EncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  
    <!--  注册验证是否登录的过滤器 -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.jsj.filter.AuthFilter</filter-class>
    </filter>
    <!--  设置过滤器拦截的范围，/*表示拦截所有请求 -->
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>